.choicesContent {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap:10px;
    margin: auto;
    color: rgb(251, 250, 250);
} 

.movieDiv{
    margin: 1% auto 0% auto;
}

.MovieImg{
    height: 80%;
    width: 100%;
    border-radius: 5%;
    grid-column: 1/3;
    grid-row: 1/3;
}

.movieThumbPic {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 90%;
}

.movieThumbInfo{
    margin-top: -15%;
}
.movieTitleH4{
    margin-top: -2%;
    
}

.bookmarkSVG{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1000;
    margin: 30% 0% 0% 0%;
    background: gray;
    padding: 10%;
    border-radius: 15px;
    height: 15px;
    width: 15px;

}
.recommendedMovieImg{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
}

@media (min-width: 400px) {
    .choicesContent {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }

    .movieThumbPic{
        height: 200px;
    }
}

@media (min-width: 750px){
    .choicesContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }
    .movieThumbInfo{
        margin-top: -20%;
    }
    .movieTitleH4{
        margin-top: -3%;
        
    }
}

@media (min-width: 1050px) {
    .choicesContent {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }
    .movieThumbPic{
        height: 300px;
    }
}

/* .Recommended {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap:10px;
    margin: auto;
    color: rgb(251, 250, 250);
}

.movieDiv{

    margin: 1% auto 0% auto;
}

.recommendedMovieImg{
    height: 80%;
    width: 100%;
    border-radius: 5%;
}

.movieThumbPic {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10% 90%;
}

.movieThumbInfo{
    margin-top: -15%;
}
.movieTitleH4{
    margin-top: -2%;
    
}

.bookmarkSVG{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1000;
    margin: 30% 0% 0% 0%;
    background: gray;
    padding: 10%;
    border-radius: 15px;
    height: 15px;
    width: 15px;
}
.recommendedMovieImg{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
}

@media (min-width: 400px) {
    .Recommended {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }

    .movieThumbPic{
        height: 200px;
    }
}

@media (min-width: 750px){
    .Recommended {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }
    .movieThumbInfo{
        margin-top: -20%;
    }
    .movieTitleH4{
        margin-top: -3%;
        
    }
}

@media (min-width: 1050px) {
    .Recommended {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
    }
    .movieThumbPic{
        height: 300px;
    }
} */