* {
    box-sizing: border-box;
  }
  
  header {
    background: greenyellow;
    color: white;
    padding-top: 20%; 
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  
  header,
  #searchTerms {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  main {
    position: relative;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  header input {
    margin-left: 1rem;
  }
  

  .logo{
    padding-bottom: 5%;
  }
  
  nav {
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  #header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .searchForm,
  .searchFormInput{
      /* width: 90vw; */
      margin: 1% auto;
      padding: ".75rem";
      width: 96%;
      height:40px;
      display: flex;
      align-self: center;
      border-radius: 10px;
  }

  .profileAvatar{
      height: 10%;
  }

  #searchTermOption,
  .searchTermOption{
    margin-left: 4%;
    padding: 5px 15px;
    color: white;
    background: green;
    border-radius: 15px;
    display: inline-block;
    align-items: center;
    flex-direction: row;
    width: fit-content;
  } 

  @media (min-width:380px){
    header {
      background: greenyellow;
      color: white;
      padding: 1rem 8%;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .logo{
      padding-bottom: 0%;

    }
  }

  @media screen and (max-width: 380px){
      .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
